
    <div class="row justify-content-end mt-3">
        <div class="col-5 p-0">
            <h6>We Will Make Your Vacation Unforgetable</h6>
            <h3>Services We Offer</h3>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-1" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Travel Insurance</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-2" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Flights</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-3" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Sightseeing</button>
          <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-4" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Accomodation</button>
        </div>
    </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active p-2" id="nav-1" role="tabpanel" aria-labelledby="nav-home-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ab molestiae veniam explicabo aliquid molestias voluptatum, illo delectus, optio dolorem et, natus aut quaerat odio doloremque animi in harum iusto!
        </div>
        <div class="tab-pane fade p-2" id="nav-2" role="tabpanel" aria-labelledby="nav-profile-tab">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel sit neque sapiente veniam libero, error animi, corporis ipsum in quam dicta, alias natus voluptatum esse placeat id. Neque, ullam est?
        </div>
        <div class="tab-pane fade p-2" id="nav-3" role="tabpanel" aria-labelledby="nav-contact-tab">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit odio obcaecati libero id dicta officiis magnam veniam quo maiores incidunt dolorem aliquam, fugiat maxime tempora nemo, minus sed voluptate porro.
        </div>
        <div class="tab-pane fade p-2" id="nav-4" role="tabpanel" aria-labelledby="nav-contact-tab">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel, veniam? Nostrum officia laborum impedit fuga maxime explicabo ea voluptates repellendus repellat nam rem accusamus reprehenderit iste, optio qui deserunt dolorem.
        </div>
      </div>
    
    </div>
    <div class="col-4 p-0">
        <img src="./assets/home_image.webp" class="img-fluid" alt="#">
    </div>
    </div>

